.bgFormulaire {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  background-color: rgba(35, 43, 43, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.bgFormulaire .formulaire {
  width: 740px;
  background-color: #fff;
  border-radius: 20px;
  padding: 3rem;
}
.bgFormulaire .formulaire .Croix {
  position: relative;
  top: -45px;
  right: -90px;
  width: 16px;
  margin-left: auto;
}
.bgFormulaire .formulaire .Croix:hover {
  cursor: pointer;
}
.bgFormulaire .formulaire .beforeSend {
  display: block;
}
.bgFormulaire .formulaire .beforeSend h2 {
  font-family: "Inter";
  font-size: 24px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #3170F7;
  margin-top: -19px;
}
.bgFormulaire .formulaire .beforeSend form {
  margin-top: 2rem;
}
.bgFormulaire .formulaire .beforeSend form .informationsPrimaireMessage {
  display: grid;
  grid-template-columns: repeat(2, 48%);
  gap: 2rem;
  justify-content: center;
}
.bgFormulaire .formulaire .beforeSend form .informationsPrimaireMessage .champ {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.bgFormulaire .formulaire .beforeSend form .informationsPrimaireMessage .champ label {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 12px;
}
.bgFormulaire .formulaire .beforeSend form .informationsPrimaireMessage .champ input, .bgFormulaire .formulaire .beforeSend form .informationsPrimaireMessage .champ textarea {
  background-color: #F9F9FB;
  border: none;
  border-radius: 10px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
.bgFormulaire .formulaire .beforeSend form .informationsPrimaireMessage .champ input::placeholder, .bgFormulaire .formulaire .beforeSend form .informationsPrimaireMessage .champ textarea::placeholder {
  color: #A9A9B2;
}
.bgFormulaire .formulaire .beforeSend form .informationsPrimaireMessage #informationsPrimaires input {
  padding: 1rem;
}
.bgFormulaire .formulaire .beforeSend form .informationsPrimaireMessage #message textarea {
  padding: 1rem;
  height: 100%;
}
.bgFormulaire .formulaire .beforeSend form #sendedRequestMessage {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 12px;
}
.bgFormulaire .formulaire .beforeSend form .sendButton {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.bgFormulaire .formulaire .beforeSend form .sendButton button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 261px;
  height: 58px;
  background-color: #3170F7;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.bgFormulaire .formulaire .beforeSend form .sendButton button p {
  color: #fff;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  margin-left: 10px;
}
.bgFormulaire .formulaire .retirerBeforeSend {
  display: none !important;
}
.bgFormulaire .formulaire .afficherAfterSend {
  display: flex !important;
}
.bgFormulaire .formulaire .afterSend {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bgFormulaire .formulaire .afterSend img {
  width: 157px;
}
.bgFormulaire .formulaire .afterSend h2 {
  font-family: "Inter";
  font-size: 24px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #3170F7;
  margin: 2rem 0 2rem;
}
.bgFormulaire .formulaire .afterSend p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  color: #6E6E73;
}
.bgFormulaire .formulaire .afterSend .textSendedMessage {
  width: 620px;
}
.bgFormulaire .formulaire .afterSend .buttonSendedMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 58px;
  width: 242px;
  border-radius: 20px;
  background-color: #BBBCC2;
  margin-top: 2rem;
}
.bgFormulaire .formulaire .afterSend .buttonSendedMessage .Check {
  margin: 0 10px 0 0 !important;
}
.bgFormulaire .formulaire .afterSend .buttonSendedMessage .Check svg path {
  fill: #fff;
}
.bgFormulaire .formulaire .afterSend .buttonSendedMessage p {
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

@media screen and (max-width: 950px) {
  .formulaire {
    width: 70vw !important;
  }
}
@media screen and (max-width: 768px) {
  .formulaire {
    padding: 1.5rem !important;
  }
  .formulaire .Croix {
    top: -20px !important;
    right: -50px !important;
  }
  .formulaire h2 {
    margin-top: 0 !important;
  }
  .formulaire form .informationsPrimaireMessage {
    grid-template-columns: repeat(1, 95%) !important;
    gap: 0 !important;
  }
  .formulaire form .informationsPrimaireMessage .champ textarea {
    height: 110px !important;
    overflow-y: scroll;
  }
  .formulaire form .sendButton {
    margin-top: 0 !important;
  }
}

/*# sourceMappingURL=Modal.module.css.map */
