.bgFormulaire{
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    background-color: rgba(35,43,43,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    .formulaire{
        width: 740px;
        background-color: #fff;
        border-radius: 20px;
        padding: 3rem;
        .Croix{
            position: relative;
            top: -45px;
            right: -90px;
            width: 16px;
            margin-left: auto;
        }
        .Croix:hover{
            cursor: pointer;
        }
        .beforeSend{
            display: block;
            h2{
                font-family: "Inter";
                font-size: 24px;
                font-weight: 700;
                line-height: 25px;
                letter-spacing: 0em;
                text-align: left;
                color: #3170F7;
                margin-top: -19px;
            }
            form{
                margin-top: 2rem;
                .informationsPrimaireMessage{
                    display: grid;
                    grid-template-columns: repeat(2, 48%);
                    gap: 2rem;
                    justify-content: center;
    
                    .champ{
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 1rem;
                        label{
                            font-family: "Inter";
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 16px;
                            letter-spacing: 0em;
                            text-align: left;
                            margin-bottom: 12px;
                        }
                        input, textarea{
                            background-color: #F9F9FB;
                            border: none;
                            border-radius: 10px;
                            font-family: "Inter";
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 20px;
                            letter-spacing: 0em;
                            text-align: left;
                        }
    
                        input::placeholder, textarea::placeholder{
                            color:#A9A9B2
                        }
    
                    }
    
                    #informationsPrimaires{
                        input{
                            padding: 1rem;
                        }
                    }
                    #message{
                        textarea{
                            padding: 1rem;
                            height: 100%;
                        }
                    }
                    
                }
                #sendedRequestMessage{
                    font-family: "Inter";
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 16px;
                    letter-spacing: 0em;
                    text-align: center;
                    margin-top: 12px;
                }
                .sendButton{
                    display: flex;
                    justify-content: center;
                    margin-top: 3rem;
                    button{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
    
                        width: 261px;
                        height: 58px;
                        background-color: #3170F7;
                        border: none;
                        border-radius: 20px;
                        
                        cursor: pointer;
                        p{
                            color: #fff;
                            font-family: "Inter";
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 26px;
                            letter-spacing: 0em;
                            text-align: center;
                            margin-left: 10px ;
                        }
    
                    }
                }
            }
        }

        .retirerBeforeSend{
            display: none !important;
        }

        .afficherAfterSend{
            display: flex !important;
        }

        .afterSend{
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            img{
                width: 157px;
            }

            h2{
                font-family: "Inter";
                font-size: 24px;
                font-weight: 700;
                line-height: 25px;
                letter-spacing: 0em;
                text-align: left;
                color: #3170F7;
                margin: 2rem 0 2rem ;
            }

            p{
                font-size: 16px;
                font-weight: 400;
                line-height: 28px;
                letter-spacing: 0em;
                text-align: center;
                color: #6E6E73;
            }

            .textSendedMessage{
                width: 620px;
            }



            .buttonSendedMessage{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                height: 58px;
                width: 242px;
                border-radius: 20px;
                background-color: #BBBCC2;
                margin-top: 2rem;
                .Check{
                    margin: 0 10px 0 0 !important;
                    svg{
                        path{
                            fill: #fff;
                        }
                    }
                }
                p{
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 26px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #fff;
                }
            }
        }
    }
}

@media screen and (max-width:950px){
    .formulaire{
        width: 70vw !important;
    }
}

@media screen and (max-width:768px){
    .formulaire{
        padding: 1.5rem !important;
        // height: 90vh !important;
        .Croix{
            top: -20px !important;
            right: -50px !important;
        }
        h2{
            margin-top: 0 !important;
        }
        form{
            .informationsPrimaireMessage{
                grid-template-columns: repeat(1, 95%) !important;
                gap: 0 !important;
                .champ{
                    textarea{
                        height: 110px !important;
                        overflow-y: scroll;
                    }
                }
            }

            .sendButton{
                margin-top: 0 !important;
            }
        }
    }
}