.realisations .containerSplashScreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #161616;
  animation: finSplashScreen 4s linear;
  position: fixed;
  top: -200vh;
  z-index: 100;
}
@keyframes finSplashScreen {
  0% {
    top: 0;
  }
  95% {
    top: 0;
  }
  97% {
    top: -70vh;
  }
  100% {
    top: -200vh;
  }
}
.realisations .containerSplashScreen .containerh1 {
  overflow: hidden;
}
.realisations .containerSplashScreen .containerh1 h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  position: relative;
  top: -100px;
  animation: text-arriving-from-right 4s linear;
}
.realisations .containerSplashScreen .containerh1 h1 .marker {
  color: #3170F7;
}
@keyframes text-arriving-from-right {
  0% {
    left: 265px;
    top: 0;
  }
  24% {
    left: 265px;
  }
  30% {
    left: 0px;
    top: 0;
  }
  85% {
    left: 0px;
    top: 0;
  }
  90% {
    top: -100px;
  }
  100% {
    top: -100px;
  }
}
.realisations .containerSplashScreen .containerImage span {
  min-width: 56px !important;
  height: 56px !important;
  position: relative;
  top: 35vh;
}
.realisations .containerSplashScreen .containerImage span span {
  height: 56px !important;
}
.realisations .containerSplashScreen .blueBlock {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: #3170F7;
  animation: blueBlockGoingUp 4s linear;
}
@keyframes blueBlockGoingUp {
  0% {
    height: 0;
  }
  87% {
    height: 0;
  }
  100% {
    height: 100vh;
  }
}
.realisations .containerRealisations {
  background-color: #F2F8FF;
}
.realisations .containerRealisations #mainSection {
  padding: 0 5rem;
  height: 100vh;
  min-height: 37rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.realisations .containerRealisations #mainSection h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 115px;
  text-align: left;
  width: fit-content;
  margin: 0 auto;
}
.realisations .containerRealisations #mainSection h1 span {
  font-family: "Londrina Shadow";
  font-size: 128px;
  font-weight: 400;
  line-height: 154px;
  letter-spacing: 0em;
  margin-left: 7rem;
  color: #3170F7;
}
.realisations .containerRealisations #mainSection .description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.realisations .containerRealisations #mainSection .description span {
  min-width: 64px !important;
  width: 64px !important;
  transform: rotate(180deg);
}
.realisations .containerRealisations #mainSection .description span span {
  width: 64px !important;
}
.realisations .containerRealisations #introRealisations {
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  padding: 0 7.5rem;
}
.realisations .containerRealisations #introRealisations p {
  width: fit-content;
  margin-top: 10rem;
}
.realisations .containerRealisations #introRealisations span {
  --width-card-intro: 22vw;
  min-width: 300px !important;
  width: var(--width-card-intro) !important;
  height: 100% !important;
  position: absolute !important;
  right: 3rem;
  overflow: visible !important;
}
.realisations .containerRealisations #introRealisations span span {
  width: var(--width-card-intro) !important;
  min-width: var(--width-card-intro) !important;
  height: 100% !important;
  min-width: 100% !important;
}
.realisations .containerRealisations #introRealisations span img {
  position: relative !important;
  width: var(--width-card-intro) !important;
  height: 650px !important;
  min-width: none !important;
  max-width: none !important;
  min-height: none !important;
  max-height: none !important;
  filter: grayscale(100%);
  transition: filter 1s;
}
.realisations .containerRealisations #introRealisations span img:hover {
  filter: grayscale(0%);
}
.realisations .containerRealisations #introRealisations .IntroRealisation1 {
  transform: rotate(-7.5deg) translateX(-230px) translateY(-150px);
  transform-origin: left bottom;
}
.realisations .containerRealisations #introRealisations .IntroRealisation2 {
  transform: rotate(-2deg) translateX(-126px) translateY(-53px);
  transform-origin: left bottom;
}
.realisations .containerRealisations #introRealisations .IntroRealisation3 {
  transform: rotate(1.5deg);
  transform-origin: left bottom;
}
.realisations .containerRealisations #introRealisations .containerImageMobile {
  display: none;
}
.realisations .containerRealisations #realisations {
  padding: 40rem 7.5rem 15rem;
}
.realisations .containerRealisations #realisations .realisation {
  display: grid;
  grid-template-columns: 55vw 1fr;
  gap: 4rem;
  margin: 0 0 300px;
}
.realisations .containerRealisations #realisations .realisation .h2Vroomly {
  color: #DF4F6C;
  font-size: 40px;
}
.realisations .containerRealisations #realisations .realisation .markerVroomly {
  color: #6CCBD0;
  font-weight: 800;
}
.realisations .containerRealisations #realisations .realisation .h2CaptainContrat {
  color: #EB2435;
  font-size: 40px;
}
.realisations .containerRealisations #realisations .realisation .markerCaptainContrat {
  color: #377EBC;
  font-weight: 800;
}
.realisations .containerRealisations #realisations .realisation .h2AsnieresVolley {
  color: #2E3C76;
  font-size: 40px;
}
.realisations .containerRealisations #realisations .realisation .markerAsnieresVolley {
  color: #F0132D;
  font-weight: 800;
}
.realisations .containerRealisations #realisations .realisation .visualRealisation {
  height: 503px;
}
.realisations .containerRealisations #realisations .realisation .visualRealisation .formatDesktop {
  width: 49vw;
  height: 30.6058713304vw;
  border-radius: 20px;
  overflow: hidden;
  filter: drop-shadow(0px 0px 64px rgba(0, 0, 0, 0.25));
}
.realisations .containerRealisations #realisations .realisation .visualRealisation .formatDesktop span img {
  animation: defilementDesktop1 14s infinite !important;
}
@keyframes defilementDesktop1 {
  0% {
    transform: translate3d(0, 0, 0);
  }
  15% {
    transform: translate3d(0, 0, 0);
  }
  34% {
    transform: translate3d(0, -10%, 0);
  }
  44% {
    transform: translate3d(0, -10%, 0);
  }
  55% {
    transform: translate3d(0, -30%, 0);
  }
  66% {
    transform: translate3d(0, -30%, 0);
  }
  78% {
    transform: translate3d(0, -84%, 0);
  }
  85% {
    transform: translate3d(0, -84%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
.realisations .containerRealisations #realisations .realisation .visualRealisation .formatMobile {
  width: 12vw;
  height: 25.56vw;
  border-radius: 20px;
  position: relative;
  top: calc(-30.6vw + 88px);
  right: calc(-49vw + 120px);
  overflow: hidden;
  filter: drop-shadow(0px 0px 64px rgba(0, 0, 0, 0.25));
}
.realisations .containerRealisations #realisations .realisation .textArea {
  width: fit-content;
}
.realisations .containerRealisations #realisations .realisation:nth-child(2) {
  grid-template-columns: 1fr 55vw;
}
.realisations .containerRealisations #realisations .realisation:nth-child(2) .visualRealisation .formatDesktop {
  margin-left: auto;
}
.realisations .containerRealisations #realisations .realisation:nth-child(2) .visualRealisation .formatDesktop span img {
  animation: none !important;
}
.realisations .containerRealisations #realisations .realisation:nth-child(2) .visualRealisation .formatMobile {
  margin-left: auto;
  left: calc(-49vw + 120px);
}
.realisations .containerRealisations #realisations .realisation:nth-child(3) .visualRealisation .formatDesktop span img {
  animation: defilementDesktop 20s infinite !important;
}
@keyframes defilementDesktop {
  0% {
    transform: translate3d(0, 0, 0);
  }
  5% {
    transform: translate3d(0, 0, 0);
  }
  10% {
    transform: translate3d(0, -17%, 0);
  }
  15% {
    transform: translate3d(0, -17%, 0);
  }
  20% {
    transform: translate3d(0, -25%, 0);
  }
  25% {
    transform: translate3d(0, -25%, 0);
  }
  30% {
    transform: translate3d(0, -34%, 0);
  }
  35% {
    transform: translate3d(0, -34%, 0);
  }
  40% {
    transform: translate3d(0, -34%, 0);
  }
  45% {
    transform: translate3d(0, -47%, 0);
  }
  50% {
    transform: translate3d(0, -47%, 0);
  }
  65% {
    transform: translate3d(0, -60%, 0);
  }
  70% {
    transform: translate3d(0, -60%, 0);
  }
  75% {
    transform: translate3d(0, -68%, 0);
  }
  80% {
    transform: translate3d(0, -68%, 0);
  }
  85% {
    transform: translate3d(0, -89%, 0);
  }
  95% {
    transform: translate3d(0, -89%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
.realisations .containerRealisations #realisations .realisation:last-child {
  margin-bottom: 0;
}
.realisations .containerRealisations #realisationsMobile {
  display: none;
}
.realisations .containerRealisations #autresRealisations {
  padding: 300px 120px;
}
.realisations .containerRealisations #autresRealisations h2 {
  display: flex;
  flex-direction: column;
  font-size: 128px;
  font-weight: 700;
  line-height: 154px;
  letter-spacing: 0em;
  text-align: left;
  width: fit-content;
  margin: 0 auto;
}
.realisations .containerRealisations #autresRealisations h2 span {
  margin-left: 17rem;
}
.realisations .containerRealisations #autresRealisations .introMobile {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  height: 69rem;
}
.realisations .containerRealisations #autresRealisations .introMobile .containerTel {
  display: grid;
  width: 30vw;
}
.realisations .containerRealisations #autresRealisations .introMobile .containerTel span:nth-child(2) {
  width: 100% !important;
  transition: 500ms;
}
.realisations .containerRealisations #autresRealisations .introMobile .containerTel span:nth-child(2) span {
  height: 540px !important;
}
.realisations .containerRealisations #autresRealisations .introMobile .containerTel span:nth-child(2) img {
  max-width: none !important;
  max-height: none !important;
}
.realisations .containerRealisations #autresRealisations .introMobile .containerTel span:nth-child(2):hover {
  transform: rotate(29.94deg);
}
.realisations .containerRealisations #autresRealisations .introMobile .containerTel:first-child span {
  margin: 234px auto 0 !important;
}
.realisations .containerRealisations #autresRealisations .introMobile .containerTel:first-child span span {
  margin: 0 !important;
}
.realisations .containerRealisations #autresRealisations .introMobile .containerTel:first-child span:nth-child(2) {
  margin: 0 !important;
  position: relative;
  top: -832px !important;
}
.realisations .containerRealisations #autresRealisations .introMobile .containerTel:nth-child(2) span {
  margin: 176px auto 0 !important;
}
.realisations .containerRealisations #autresRealisations .introMobile .containerTel:nth-child(2) span span {
  margin: 0 !important;
}
.realisations .containerRealisations #autresRealisations .introMobile .containerTel:nth-child(2) span:nth-child(2) {
  margin: 0 !important;
  position: relative;
  top: -1181px !important;
}
.realisations .containerRealisations #autresRealisations .introMobile .containerTel:last-child span {
  margin: 123px auto 0 !important;
}
.realisations .containerRealisations #autresRealisations .introMobile .containerTel:last-child span span {
  margin: 0 !important;
}
.realisations .containerRealisations #autresRealisations .introMobile .containerTel:last-child span:nth-child(2) {
  margin: 0 auto !important;
  position: relative;
  top: -832px !important;
}
.realisations .containerRealisations #autresRealisations .introMobile_Mobile {
  display: none;
}
.realisations .containerRealisations #autresRealisations .containerMacbook {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.realisations .containerRealisations #autresRealisations .sceneWrapper {
  width: 100vw;
  height: 3000px;
  margin: 5rem 0 5rem -7.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.realisations .containerRealisations #autresRealisations .sceneWrapper .macbook {
  width: 100%;
  position: sticky;
  top: 10rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.realisations .containerRealisations #autresRealisations .sceneWrapper .macbook span {
  overflow: visible !important;
}
.realisations .containerRealisations #autresRealisations .sceneWrapper .macbook span img {
  border-radius: 16px;
}
.realisations .containerRealisations #autresRealisations .sceneWrapper .containerLongPageRudolph {
  position: absolute;
  top: 554rem;
  opacity: 0;
}
.realisations .containerRealisations #autresRealisations .sceneWrapper .containerLongPageRudolph span {
  width: 100vw !important;
  overflow: visible !important;
}
.realisations .containerRealisations #autresRealisations .sceneWrapper .containerLongPageRudolph span span {
  width: 100vw !important;
}
.realisations .containerRealisations #autresRealisations .sceneWrapper .containerLongPageRudolph span img {
  max-width: 100vw;
  width: 100vw;
  max-height: inherit !important;
  height: inherit !important;
}
.realisations .containerRealisations #autresRealisations .containerCarouselRealisations {
  margin-top: 98px;
  margin-bottom: 0;
}
.realisations .containerRealisations #autresRealisations .containerCarouselRealisations span img {
  margin: 0 0 4rem !important;
  width: 63vw !important;
}
.realisations .containerRealisations #autresRealisations .containerCarouselRealisationsMobile {
  display: none;
}
.realisations .containerRealisations footer {
  background-color: #fff;
}
@media screen and (max-width: 1400px) {
  .realisations .containerRealisations #mainSection {
    min-height: 55rem;
  }
  .realisations .containerRealisations #mainSection h1 {
    font-size: 88px;
    font-weight: 700;
    line-height: 106px;
    letter-spacing: 0em;
    text-align: center;
  }
  .realisations .containerRealisations #mainSection h1 span {
    font-size: 88px;
    margin: 0;
  }
  .realisations .containerRealisations #introRealisations {
    padding: 0 1rem 3rem !important;
    display: flex;
    flex-direction: column-reverse;
  }
  .realisations .containerRealisations #introRealisations .containerImage {
    display: none;
  }
  .realisations .containerRealisations #introRealisations p {
    margin-top: 16rem !important;
  }
  .realisations .containerRealisations #introRealisations .containerImageMobile {
    display: flex;
    align-items: center;
    margin-left: -1rem;
    width: 80vw;
    height: 40vw;
    position: relative;
    right: -50%;
    left: -30%;
    transform: translate(50%, -30%);
  }
  .realisations .containerRealisations #introRealisations .containerImageMobile span {
    right: 0;
    min-width: 0 !important;
    width: 80vw !important;
  }
  .realisations .containerRealisations #introRealisations .containerImageMobile span span {
    width: 80vw !important;
    min-width: 0 !important;
  }
  .realisations .containerRealisations #introRealisations .containerImageMobile span img {
    width: 80vw !important;
    min-width: 0 !important;
    filter: none;
  }
  .realisations .containerRealisations #realisations {
    display: none;
  }
  .realisations .containerRealisations #realisationsMobile {
    padding: 7.5rem 0 2.5rem !important;
    display: block !important;
  }
  .realisations .containerRealisations #realisationsMobile .categories {
    width: 95vw;
    height: 101px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 1rem;
    margin: 0 auto;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.0588235294);
  }
  .realisations .containerRealisations #realisationsMobile .categories .category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .realisations .containerRealisations #realisationsMobile .categories .category span {
    width: 48px !important;
    height: 48px !important;
  }
  .realisations .containerRealisations #realisationsMobile .categories .category p {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #C5C3C7;
  }
  .realisations .containerRealisations #realisationsMobile .categories .category .activeCategory {
    color: #191F1F;
  }
  .realisations .containerRealisations #realisationsMobile .containerPhone {
    height: 427px;
    width: 199px;
    border-radius: 8px;
    margin: 2rem auto;
    overflow: hidden;
    filter: drop-shadow(-30px 0px 48px rgba(0, 0, 0, 0.16));
  }
  .realisations .containerRealisations #realisationsMobile .containerPhone span img {
    animation: defilementMobile 10s infinite;
  }
  @keyframes defilementMobile {
    0% {
      transform: translate3d(0, 0, 0);
    }
    10% {
      transform: translate3d(0, 0, 0);
    }
    80% {
      transform: translate3d(0, -62%, 0);
    }
    90% {
      transform: translate3d(0, -62%, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  .realisations .containerRealisations #realisationsMobile .textAreaMobile {
    margin: 0 1rem;
  }
  .realisations .containerRealisations #realisationsMobile .textAreaMobile h2 {
    margin: 0 0 2rem;
    line-height: 55px;
  }
  .realisations .containerRealisations #realisationsMobile .textAreaMobile .h2Vroomly {
    color: #DF4F6C;
    font-size: 40px;
  }
  .realisations .containerRealisations #realisationsMobile .textAreaMobile .markerVroomly {
    color: #6CCBD0;
    font-weight: 800;
  }
  .realisations .containerRealisations #realisationsMobile .textAreaMobile .h2CaptainContrat {
    color: #EB2435;
    font-size: 40px;
  }
  .realisations .containerRealisations #realisationsMobile .textAreaMobile .markerCaptainContrat {
    color: #377EBC;
    font-weight: 800;
  }
  .realisations .containerRealisations #realisationsMobile .textAreaMobile .h2AsnieresVolley {
    color: #2E3C76;
    font-size: 40px;
  }
  .realisations .containerRealisations #realisationsMobile .textAreaMobile .markerAsnieresVolley {
    color: #F0132D;
    font-weight: 800;
  }
  .realisations .containerRealisations #realisationsMobile .textAreaMobile .visualRealisation {
    height: 503px;
  }
  .realisations .containerRealisations #realisationsMobile .textAreaMobile .visualRealisation .formatMobile {
    width: 12vw;
    height: 25.56vw;
    border-radius: 20px;
    position: relative;
    top: calc(-30.6vw + 88px);
    right: calc(-49vw + 120px);
    overflow: hidden;
    filter: drop-shadow(0px 0px 64px rgba(0, 0, 0, 0.25));
  }
  .realisations .containerRealisations #realisationsMobile .textAreaMobile .visualRealisation .formatMobile span img {
    animation: defilementDesktop1 14s infinite !important;
  }
  @keyframes defilementDesktop1 {
    0% {
      transform: translate3d(0, 0, 0);
    }
    15% {
      transform: translate3d(0, 0, 0);
    }
    34% {
      transform: translate3d(0, -10%, 0);
    }
    44% {
      transform: translate3d(0, -10%, 0);
    }
    55% {
      transform: translate3d(0, -30%, 0);
    }
    66% {
      transform: translate3d(0, -30%, 0);
    }
    78% {
      transform: translate3d(0, -84%, 0);
    }
    85% {
      transform: translate3d(0, -84%, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  .realisations .containerRealisations #autresRealisations {
    background-color: #fff;
  }
  .realisations .containerRealisations #autresRealisations h2 {
    font-size: 96px !important;
    line-height: 115.2px;
  }
}
@media screen and (max-width: 1220px) {
  .realisations #autresRealisations {
    padding: 300px 1rem !important;
  }
  .realisations #autresRealisations h2 {
    font-size: 80px !important;
    line-height: 96px;
    text-align: center !important;
  }
  .realisations #autresRealisations h2 span {
    margin: 0 !important;
  }
  .realisations #autresRealisations .sceneWrapper {
    margin-left: -1rem !important;
  }
}
@media screen and (max-width: 834px) {
  .realisations .containerSplashScreen h1 {
    font-size: 28px !important;
  }
  @keyframes text-arriving-from-right {
    0% {
      left: 160px;
      top: 0;
    }
    24% {
      left: 160px;
    }
    30% {
      left: 0px;
      top: 0;
    }
    85% {
      left: 0px;
      top: 0;
    }
    90% {
      top: -100px;
    }
    100% {
      top: -100px;
    }
  }
  .realisations .containerRealisations #mainSection {
    padding: 6.5rem 1.5rem 0 !important;
    display: block;
    height: inherit;
    min-height: inherit;
  }
  .realisations .containerRealisations #mainSection h1 {
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .realisations .containerRealisations #mainSection h1 span {
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    margin-left: 0;
  }
  .realisations .containerRealisations #mainSection .description {
    display: flex;
    flex-direction: column-reverse;
  }
  .realisations .containerRealisations #mainSection .description p {
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 2rem !important;
  }
  .realisations .containerRealisations #introRealisations {
    padding: 0 1rem 3rem !important;
    display: flex;
    flex-direction: column-reverse;
  }
  .realisations .containerRealisations #introRealisations .containerImage {
    display: none;
  }
  .realisations .containerRealisations #introRealisations p {
    margin-top: 5rem !important;
  }
  .realisations .containerRealisations #introRealisations .containerImageMobile {
    height: 100vw;
    transform: translate(50%, 0%);
  }
  .realisations .containerRealisations #autresRealisations {
    padding: 5rem 0 0 !important;
    background-color: #fff;
  }
  .realisations .containerRealisations #autresRealisations h2 {
    font-size: 40px !important;
    line-height: 48px !important;
    margin-bottom: 5rem;
  }
  .realisations .containerRealisations #autresRealisations h2 span {
    margin: 0;
  }
  .realisations .containerRealisations #autresRealisations .introMobile {
    display: none;
  }
  .realisations .containerRealisations #autresRealisations .containerIntroMobile_Mobile {
    width: 100vw;
    overflow-x: scroll;
  }
  .realisations .containerRealisations #autresRealisations .containerIntroMobile_Mobile .introMobile_Mobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    overflow-x: scroll !important;
  }
  .realisations .containerRealisations #autresRealisations .containerIntroMobile_Mobile .introMobile_Mobile span {
    overflow: visible !important;
  }
  .realisations .containerRealisations #autresRealisations .containerIntroMobile_Mobile .introMobile_Mobile span img {
    left: inherit !important;
    right: 0 !important;
    padding-bottom: 2rem !important;
    width: 60vw !important;
  }
  .realisations .containerRealisations #autresRealisations .containerIntroMobile_Mobile .introMobile_Mobile .containerImage {
    width: 300px;
    height: 395px;
  }
  .realisations .containerRealisations #autresRealisations .containerCarouselRealisations {
    display: none;
  }
  .realisations .containerRealisations #autresRealisations .containerCarouselRealisationsMobile {
    display: block;
  }
  .realisations .containerRealisations #autresRealisations .containerCarouselRealisationsMobile span img {
    width: 85vw !important;
    margin: 0 0 4rem !important;
  }
}
@media screen and (max-width: 750px) {
  .realisations .containerRealisations #introRealisations .containerImageMobile {
    height: 100vw;
    transform: translate(50%, 0%);
  }
}
@media screen and (max-width: 500px) {
  .realisations .containerRealisations #introRealisations .containerImageMobile {
    height: 100vw;
    transform: translate(50%, -20%);
  }
}

/*# sourceMappingURL=Realisations.module.css.map */
